<h3><a href="/dashboard/my_properties">My Properties</a></h3>
<h3><%= link_to "List a Property", new_property_path%></h3>
<h3><a href="/dashboard/my_bookings">My Bookings</a></h3>
<h3><%= link_to "Log out", logout_path, method: :delete %></h3>